* {
    box-sizing: border-box;
}

html{
    background-image: url("https://images.wallpaperscraft.com/image/stars_space_galaxy_117958_800x600.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center; 
    height:100%;
    width:100%
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    z-index: 2;
}
.row {
    margin:0;
    padding: 0;
    height: 30px;
}

.cell {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    

}
.W {
    background-color: black;
}
.F {
    background-color: aliceblue;
}

.P {
    background-color: red;
}
.E {
    background-color: darkmagenta;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgba(240, 248, 255, 0.899);
    background-color: magenta;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px purple;
    position: relative;
    left: 45%;
    margin-bottom: 20px;
  }
.button:hover {background-color: pink}
  
.button:active {
    background-color: pink;
    box-shadow: 0 5px purple;
    transform: translateY(4px);
}


#gameInfo {
    width:100%;
    text-align: center;
    color: purple;
    font-size: 30px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
#gameWin {
    color: purple;
    font-size: 100px;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }